@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    activeButton("#feature-button");
</script>
<section id="feature" class="page">
    <div>
        <h2>Почему стоит выбрать нас?</h2>
        <ul style="margin-top: 30px; margin-left:100px; width: fit-content; text-align:start; display:flex; justify-self:center; align-self:center; flex-direction:column;">
            <li class="lead">Работаем качественно</li>
            <li class="lead">Удобная карта</li>
            <li class="lead">Быстрое заполнение заказа</li>
            <li class="lead">Обратная связь</li>
            <li class="lead">Всё для клиента</li>
        </ul>
    </div>
</section>